html, body {
    margin: 0;
    padding: 0;
    color: #fff;
    user-select: none;
    font-family: 'Josefin Sans', sans-serif;
    background-color: gold;
}

#container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    background-color: black;
}

.box {
    border-radius: 8px;
    margin: 5px 15px;
}

button {
    background: #28A9F1;
    border: none;
    padding: 20px;
    font-size: 22px;
}

button:hover {
    background: #0b78b4;
    color: gold;
    font-weight: 700;
}

.interFamily {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

textarea {
    resize: vertical;
    padding: 10px;
    border: 0;
}

input[type="text"], textarea {
    font-family: 'Inter', sans-serif;
    background-color: #444059;
    color: #fff;
    font-size: 15px;
}

.input-row {
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 5px 5px;
    justify-content: space-evenly;
}

input {
    text-align: center;
    border: 0;
    padding: 15px 5px;
    border-radius: 5px;
    align-items: center;
}

#error {
    font-size: 14px;
    font-weight: 600;
    color: salmon;
    text-align: center;
}

img {
    align-items: center;
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    margin: 50px auto 0; 
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column-reverse;
    list-style-type: none;
    color: black;
    padding: 20px;
    font-size: 14px;
    /* background-color: #FFF; */
}

ul li {
    background-color: #fff;
    flex-grow: 1;
}

ul li:hover {
    background-color: #c8eafc;
}

/* .background {
    background: #fff;
} */


/* #endorsements-list p {
    background: #FFF;
    padding: 5px 10px;
    font-weight: 400
} */

/* #endorsements-list h3 {
    font-size: 14px;
    padding: 0 0 0 10px;
} */

/* #endorsements-list h3 p :hover{
    background-color: aliceblue;
} */

.border {
    text-align: center;
}

h2 {
    margin-bottom: 0;
}

.bold {
    font-weight: bold;
    
}
/*
 background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
 box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
 */